<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	<a href="https://twitter.com/RollTrees">Roll Trees</a> is a beta program geared toward streamlining bottleneck processes faced by (future) legal MMJ establishments.
</p>