<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	<a href="https://twitter.com/RollTrees" target="_blank">Roll Trees</a> is currently in development beta testing.  If you would like more information on RT or would like to apply, please visit our <a href="https://intense-fortress-3056.herokuapp.com/inquiries">inquiries</a> page.
</p>