<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	You can always reach out to us via <a href="https://twitter.com/RollTrees">Twitter</a> if you're into that sort of thing.  Otherwise, feel free to send us an email at rolltrees@gmail.com.
</p>