<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	<ul>
		<li>Need help <a href="">becoming a patient</a>?</li>
		<li>Need help <a href="">becoming a <em>verified</em> patient</a>?</li>
		<li>Need help <a href="">finding a dispensary</a>?</li>
		<li>Need help <a href="">looking up local laws</a>?</li>
		<li>Need help <a href="">applying as a dispensary</a>?</li>
		<li>Need help <a href="">becoming a verified vendor</a>?</li>
		<li>Need help <a href="">applying as a manufacturer</a>?</li>
		<li>Need help with something not on this list? <a href="https://intense-fortress-3056.herokuapp.com/contact">Reach out</a>!
	</ul>
</p>
