<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	<ul>
		<li>Need help <a href="http://420list.com/become_a_patient/" target="_blank">becoming a patient</a>?</li>
		<li>Need help <a href="http://420list.com/dispensaries/" target="_blank">becoming a <em>verified</em> patient</a>?</li>
		<li>Need help <a href="http://420list.com/dispensaries/" target="_blank">finding a dispensary</a>?</li>
		<li>Need help <a href="https://intense-fortress-3056.herokuapp.com/inquiries/new">looking up local laws</a>?</li>
		<li>Need help <a href="https://intense-fortress-3056.herokuapp.com/inquiries/new">applying as a dispensary</a>?</li>
		<li>Need help <a href="https://intense-fortress-3056.herokuapp.com/inquiries/new">becoming a verified vendor</a>?</li>
		<li>Need help <a href="https://intense-fortress-3056.herokuapp.com/inquiries/new">applying as a manufacturer</a>?</li>
		<li>Need help with something not on this list? <a href="https://intense-fortress-3056.herokuapp.com/inquiries/new">Reach out</a>!
	</ul>
</p>
