<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
		  Welcome to your order home page.  Please place orders below following in the recommended format.  Should you want to modify your order, before the order date below, just delete your current order and repost.
	    <%#= render 'shared/stats' %>
	  </section>
      <section>
		  <strong>Next order date:</strong> TBA
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
	<div class="span8">
	      <h3>Current order</h3>
		  Please delete old orders before placing new ones!
	       <%= render 'shared/feed' %>
	    </div>
	  </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Roll Trees</h1>

    <h2>
     We are currently focused on improving the emerging legal MJ community. Interested?  Apply for an account!
    </h2>

    <%= link_to "Apply now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>