<% provide(:title, 'Apply') %>
<h1>Apply for membership</h1>

<div class="row">
	
  <div class="span6 offset3">
	  <p>This platform is currently <em>deep</em> into beta testing and we are carefully screening all participants.  If you would like to help mold our platform, please apply for testing at the <a href="https://intense-fortress-3056.herokuapp.com/inquiries/new">inquiries</a> page.</p>
    <%#= form_for(@user) do |f| %>
	
     <%#= render 'shared/error_messages', object: f.object %>
      
      <%#= f.label :name %>
      <%#= f.text_field :name %>

      <%#= f.label :email %>
      <%#= f.text_field :email %>

      <%#= f.label :password %>
      <%#= f.password_field :password %>

      <%#= f.label :password_confirmation, "Confirmation" %>
      <%#= f.password_field :password_confirmation %>

      <%#= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <%# end %>
  </div>
</div>