<h1>Contact Us</h1>
<p>Interested in applying for our beta program?  Want more information about RollTrees?  Fill out the form below and we'll get back to you!</p>
 
<%= render 'form', :inquiry => @inquiry %>
